# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Billy Yang
	email = mz.yyam@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
[core]
	editor = vim
	excludesfile = /Users/billy/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[difftool "sourcetree"]
	cmd = /Applications/Visual Studio Code.app/Contents/Resources/app/bin/code --wait --diff $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Visual Studio Code.app/Contents/Resources/app/bin/code --wait $MERGED
	trustExitCode = true
[commit]
	template = /Users/billy/.stCommitMsg
